/* HEX */
html {
	--brown: #99621eff;
	--orange: #d38b5dff;
	--yellow: #f3ffb6ff;
	--green: #739e82ff;
	--deepgreen: #2c5530ff;
    box-sizing: border-box;
}

/* Mixins */

/* Global */
a {
	text-decoration: none;
	color: var(--deepgreen);
}

p{
	color: var(--deepgreen);
}

ul {
	list-style: none;
}

hr {
	color: var(--deepgreen);
	background-color: var(--deepgreen);
}

body {
	font-family: helvetica;
    background-color: var(--yellow);
	padding: 0;
	margin: 0;
}

/* Here's the main grid */
.container {
	display: grid;
    grid-template-columns: repeat(6, minmax(60px, 1fr));
    grid-template-rows: auto 1fr auto;
	gap: 1rem;
	grid-template-areas: 
	"header header header header header header" 
	"archive main  main   main   main   main"
	"....... main  main   main   main   main" 
	"footer footer footer footer footer footer";
}



.seperator{
	margin:0;
	color: var(--orange);
	font-family: montserrat;
	text-transform: uppercase;
	hr{
		border-color: var(--orange);
	}
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin-right: 1rem;
	.card-post {
		background-color: var(--green);
		border: solid 7px var(--orange);
		border-radius: 1rem;
		overflow: hidden;
		display: flex;
        flex-direction: column;
        max-width:700px;
		p {
			padding: 0 .3rem;
		}
		.card-post-wrapper {
			background-color: var(--deepgreen);
			color: var(--orange);
			font-family: courgette;
			.book-post {
                width:100%;
			}
			.book-post-info {
                padding-left: 5px;
                width:150px;
				.book-post-title {
                    display:inline;
				}
				.author {
                    display:inline;
				}
				.genre {
					margin: 5px;
				}
				.published {
					margin: 5px;
				}
			}
		}
	}
}

footer {
	grid-area: footer;
    background-color: var(--deepgreen);
	.footer-info{
		color: var(--orange);
		font-weight: 700;
		padding-left: 5%;
	}
}

// MEDIA QUERIES

@media (max-width: 785px) {
	.container {
		grid-template-columns: minmax(60px, 1fr);
		grid-template-areas: "header" "archive" "main" "footer";
	}
}
@media (max-width: 785px) {
	.header {
		grid-template-columns: minmax(60px, 1fr);
		grid-template-areas: "title" "description" "social";
	}
}

@media (max-width: 785px) {
	.archive ul {
		display: flex;
		flex-wrap: wrap;
		padding: 5px;
		justify-content: flex-start;
	}
}

@media (max-width: 785px) {
	main {
        margin: 0 1rem ;
	}
}

@media (max-width: 785px) {
	.archive {
		margin: 0 1rem ;
	}
}

@media (min-width: 700px) {
	.card-wrapper {
        grid-template-columns:minmax(0, 100vw);
        grid-template-areas: 
        "book" 
        "info";
	}
}
